@media(max-width:1440px) {}

@media(max-width:1320px) {}

@media(max-width:1290px) {}

@media(max-width:1140px) {}

@media(max-width:1024px) {
    .logo__link img {
        margin-right: 30px;
    }

    .section2__all {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:992px) {}

@media(max-width:768px) {
    .header__title {
        font-size: 80px;
    }

    .header__nav {
        width: 170px;
        height: 40px;
    }

    .header__link1 {
        font-size: 16px;
        line-height: 22px;
    }

    .top__text {
        font-size: 20px;
        line-height: 22px;
        margin-top: 53px;
    }

    .bottom__text1,
    .bottom__text2 {
        text-align: start;
        font-size: 18px;
        line-height: 22px;

    }

    .footer__nav {
        height: 190px;
    }
}

@media(max-width:736px) {
    .top__text {
        font-size: 18px;
        line-height: 22px;
    }

    .top__img {
        width: 450px;
    }

    .center__text {
        font-size: 20px;
        line-height: 24px;
    }

}

@media(max-width:734px) {}

@media(max-width:684px) {

    .bottom__text1,
    .bottom__text2 {
        text-align: start;
        font-size: 14px;
        line-height: 20px;

    }
}

@media(max-width:667px) {}

@media(max-width:576px) {
    .header__title {
        font-size: 70px;
    }

    .top__img {
        max-width: 552px;
        width: 100%;
    }

    .section__top,
    .section__bottom,
    .section__center {
        flex-direction: column;
    }

    .top__text {
        text-align: center;
    }

    .center__text {
        text-align: center;
    }

    .bottom__text1,
    .bottom__text2 {
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        margin: 0;
    }

    .bottom__img {
        flex-direction: column;
    }

    .bottom__img::before,
    .bottom__img::after {
        content: '';
        height: 61px;
        width: 1px;
        background: #C4C4C4;
        margin: 15px 0;
    }

    .card__img {
        margin: 0;
    }
}

@media(max-width:414px) {
    .header__list {
        margin: 10px 0;
    }

    .logo,
    .section__box,
    .logo__left {
        flex-direction: column;
    }

    .header__title {
        text-align: center;
    }

    .footer__nav {
        flex-direction: column;
        align-items: center;
        padding: 7px 0;
    }

}

@media(max-width:412px) {
    .header__list {
        margin: 10px 0;
    }

    .logo,
    .section__box,
    .logo__left {
        flex-direction: column;
    }

    .header__title {
        text-align: center;
    }

    .footer__nav {
        flex-direction: column;
        align-items: center;
        padding: 7px 0;

    }

    .logo__link {
        margin: 0 auto;
    }


}

@media(max-width:375px) {

    .bottom__text1,
    .bottom__text2,
    .center__text,
    .top__text {
        font-size: 18px;
        line-height: 20px;
    }

    .bottom__img img {
        width: 250px;
    }

}



@media(max-width:360px) {
    .logo__left {
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 15px;
    }

    .logo {
        padding: 15px 0;
    }

    .header__title {
        font-size: 60px;
    }

    .header__nav {
        width: 160px;
        height: 30px;
    }



}

@media(max-width:320px) {}

@media(max-width:280px) {
    .header__title {
        font-size: 55px;
    }

    .bottom__text1,
    .bottom__text2,
    .center__text,
    .top__text {
        font-size: 16px;
        line-height: 18px;
    }

    .bottom__img img {
        width: 200px;
    }
}